<div class="card mb-2">
  <div class="card-header">Hakkımızda</div>
  <div class="card-body">Tayfur 1997 yılında Kütahya'da doğdum.</div>
</div>

<div class="card mb-2">
  <div class="card-header">Eğitim</div>
  <div class="card-body">
    Hazırlık : Namık Kemal Üniversitesi (İng. Hazırlık) <br />
    Lisans: Süleyman Demirel Üniversitesi Bilgisayar Mühendisiyim. <br />
    Ortalamam : 2.70
  </div>
</div>
<div class="card mb-2">
  <div class="card-header">İş tecrübem</div>
  <div class="card-body">
    Üniversite zamanında farklı sektörlerde çalıştım. <br />
    Stajlarımı Ünipa A.Ş gerçekleştirdim. <br />
    Sanayi Bölgesinde otomotivlere beyin yazılımı. windows form kullandım.
  </div>
</div>
